@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Employee_Management_System.Models.UiModel>
@section TopMenu {
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="DashBoard">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="GetProject">Project List</a>
        </li>
    </ul>
}
    @{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container shadow p-5">

    <h1 class="text-center mb-3"> List</h1>

    <div class="col mb-3">
        @*<a asp-controller="Admin" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Employee</a>*@
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Project Name</th>
            </tr>
        </thead>
        <tbody>
           
            @if(Model==null){
                <tr>
                    <td>
                        No Project
                    </td>
                </tr>
            }else{
            foreach (var item in Model)
            {
                    @if (@item.EmployeeUi.EmpEmail == Context.Session.GetString("Email"))
                    {
                        <tr>
                            <td width="20%">
                                @item.ProjectUi.ProjectName
                            </td>
                        </tr>
                }
            }
            }
         
        </tbody>
    </table>
</div>


